@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Don Bosco Haacht<br />
    Stationstraat 89<br />
    <abbr title="Phone">P:</abbr>
    016 / 617970
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:evanduffel@dbhaacht.be">evanduffel@dbhaacht.be</a><br />
    
</address>